extends ../layouts/main
block active-item
  - nav['Прайслисты']['active'] = 1
block content
  h3 Новый товар/услуга
  .row
    .col-md-12
      form.form-horizontal#priceForm(role='form', method='post', action='/price/create')
        .panel.panel-default
          .panel-heading Основная информация
          .panel-body
            if stores
              fieldset
                .form-group
                  label.col-sm-2.control-label Магазин
                  .col-sm-6
                    select.form-control(name='store')
                      each store in stores
                        option(value='#{store._id}') #{store.title}
            if store
              input(type="hidden", name="store", value="#{store}")
            fieldset
              .form-group
                label.col-sm-2.control-label Название
                .col-sm-6
                  input.form-control(type='text', name='title', required='required')
            fieldset
              .form-group
                label.col-sm-2.control-label Цена
                .col-sm-6
                  input.form-control(type='number', name='price', required='required')
            fieldset
              .form-group
                label.col-sm-2.control-label Бонус
                .col-sm-6
                  input.form-control(type='number', name='bonus')
            fieldset
              .form-group
                label.col-sm-2.control-label Описание
                .col-sm-6
                  textarea.form-control(name='description')
          .panel-footer
            button.btn.btn-lg.btn-info(type='submit') Сохранить
            | &nbsp;
            a.btn.btn-lg.btn-default(href="/price") Отменить
            input(type="hidden", name="_csrf", value="#{_csrf}")
