extends ../layouts/main
block active-item
  - nav['Прайслисты']['active'] = 1
block content
  a(href='/price/create').btn.btn-labeled.btn-primary.pull-right
    span.btn-label
      i.fa.fa-plus-circle
    | Новый товар/услуга
  h3 Прайслист
    br
    small Выберите магазин
  .row
    .col-lg-12
      .panel.panel-default
        .panel-body
          select.form-control.input-lg#priceSelect
            option(selected, disabled) Выберите магазин
            each store in stores
              option(value='#{store._id}') #{store.title}
