nav.sidebar
  ul.nav
    li
      .item.user-block.has-submenu(data-toggle='collapse-next')
        if user.photo
          .user-block-picture
            img.img-thumbnail.img-circle(src='#{user.photo}', width="60", height="60")
            .user-block-status
              .point.point-success.point-lg
        .user-block-info
          span.user-block-name.item-text #{user.firstname} #{user.lastname}
          span.user-block-role #{user.role}
          .btn-group.user-block-status
            button.btn.btn-xs.dropdown-toggle(type="button", data-toggle='dropdown', data-play="fadeIn", data-duration="0.2")
              .point.point-success
              | Онлайн
            ul.dropdown-menu.text-left.pull-right
              li: a(href='#')
                .point.point-success
                | Онлайн
              li: a(href='#')
                .point.point-warning
                | Ушел
              li: a(href='#')
                .point.point-danger
                | Занят
      ul.nav.collapse
        li: a(href="/profile") Мой профиль
        li: a(href="/profile/settings") Настройки
        li.divider
        li: a(href="/logout") Выйти

    +build-menu-items(nav)

    li.nav-footer
      .nav-footer-divider
      .btn-group.text-center
        a(href="/profile/settings", type="button", data-toggle="tooltip", data-title="Настройки").btn.btn-link: em.fa.fa-sliders.text-muted
        a(href="/logout", type="button", data-toggle="tooltip", data-title="Выход").btn.btn-link: em.fa.fa-sign-out.text-muted
