doctype html
html(lang='en')
    head
        include ../partials/sidebar-config
        block active-item
            //- Use this block to activate menu items
            //- to highlight links and load custom assets
        include ../partials/head
    body
        // START Main wrapper
        section.wrapper
            include ../partials/top-navbar
            // START aside
            aside.aside
                include ../partials/sidebar
            // End aside
            // START Main section
            section
                // START Page content
                section.main-content
                    block content
                // END Page content
            // END Main section
        // END Main wrapper
        block body_child
            //- Use this block to place element as body child (eg modal)
        // START Scripts
        include ../partials/scripts

        // END Scripts