doctype html
html(lang='en')
    head
        // Meta
        base(href="/")
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
        meta(name='description', content='')
        meta(name='keywords', content='')
        meta(name='author', content='')
        title CrazyBuyer
        // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
        <!--[if lt IE 9]>
        script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
        script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
        <![endif]-->
        // Vendor CSS
        link(rel='stylesheet', href='components/fontawesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='components/animo.js/animate+animo.css')
        // App CSS
        link(rel='stylesheet', href='css/app.css')
        // Modernizr JS Script
        script(src='components/modernizr/modernizr.js', type='application/javascript')
        // FastClick for mobiles
        script(src='components/fastclick/lib/fastclick.js', type='application/javascript')
        block head
            //- Use this block to add custom assets for pages
    body(style="background: url(https://s3-eu-west-1.amazonaws.com/crazybuyer/main_bg.jpg) no-repeat center center fixed; background-size: cover;")
        // START wrapper
        block content
        // END wrapper
        // START Scripts
        // Main vendor Scripts
        script(src='components/jquery/dist/jquery.min.js')
        script(src='components/bootstrap/dist/js/bootstrap.min.js')
        // Animo
        script(src='components/animo.js/animo.js')
        // Custom script for pages
        script(src='js/pages.js')
        // END Scripts