extends ../layouts/main
block active-item
  - nav['Карты']['active'] = 1
block content
  h3 Выпустить карту
  .row
    .col-md-12
      form.form-horizontal#storeForm(role='form', method='post', action='/card/create')
        .panel.panel-default
          .panel-heading Основная информация
          .panel-body
            fieldset
              .form-group
                label.col-sm-2.control-label Магазин
                .col-sm-6
                  select.form-control(name='store')
                    each store in stores
                      option(value='#{store._id}')= store.title
            fieldset
              .form-group
                label.col-sm-2.control-label(for="user") Клиент
                .col-sm-8
                  input.form-control#autocomplete-users(type="text", name="user", placeholder='Поиск по номеру телефона')
                  input#selction-users(type="hidden", name="user_id")
                .col-sm-1
                  a.btn.btn-success(data-toggle='modal', href='#modalNewClient')
                    i.fa.fa-plus-circle
            fieldset
              .form-group
                label.col-sm-2.control-label Количество
                .col-sm-2
                  input.form-control(type="number", name="count", value="1", min='1', max='100')

          .panel-footer
            button.btn.btn-lg.btn-info(type='submit') Сохранить
            | &nbsp;
            a.btn.btn-lg.btn-default(href="/card") Отменить
            input(type="hidden", name="_csrf", value="#{_csrf}")

block body_child
  #modalNewClient.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalNewClientLabel', aria-hidden='true')
    .modal-dialog
      form#clientForm(role='form', action='/user/create_lazy', data-bv-feedbackicons-valid="fa fa-check", data-bv-feedbackicons-invalid="fa fa-times", data-bv-feedbackicons-validating="fa fa-refresh")
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#modalNewClientLabel.modal-title Новый клиент
          .modal-body
            fieldset
              .form-group
                label.col-sm-2.control-label Фамилия
                .col-sm-6
                  input.form-control(type='text', name='lastname', required='required')
            fieldset
              .form-group
                label.col-sm-2.control-label Имя
                .col-sm-6
                  input.form-control(type='text', name='firstname', required='required')
            fieldset
              .form-group
                label.col-sm-2.control-label Отчество
                .col-sm-6
                  input.form-control(type='text', name='middlename')
            fieldset
              .form-group
                label.col-sm-2.control-label Телефон
                .col-sm-6
                  input.form-control(type='text', name='phone', required='required')
            fieldset
              .form-group
                label.col-sm-2.control-label Email
                .col-sm-6
                  input.form-control(type='text', name='email')
            #clientMessage.alert.alert-danger(role='alert', style='display:none')
          .modal-footer
            input(type='hidden', name='role', value='user')
            input(type='hidden', name='role', value='user')
            button.btn.btn-default(type='button', data-dismiss='modal') Отмена
            button.btn.btn-primary(type='submit') Добавить
            input(type="hidden", name="_csrf", value="#{_csrf}")
