extends ../layouts/main
block active-item
  - nav['Карты']['active'] = 1
block content
  h3 Выпустить карту
  .row
    .col-md-12
      form.form-horizontal(role='form', method='post', action='/card/create')
        .panel.panel-default
          .panel-heading Основная информация
          .panel-body
            fieldset
              .form-group
                label.col-sm-2.control-label Магазин
                .col-sm-6
                  select.form-control(name='store')
                    each store in stores
                      option(value='#{store._id}')= store.title
          .panel-footer
            button.btn.btn-lg.btn-info(type='submit') Сохранить
            | &nbsp;
            a.btn.btn-lg.btn-default(href="/card") Отменить
            input(type="hidden", name="user_id", value="#{user_id}")
            input(type="hidden", name="_csrf", value="#{_csrf}")
