extends layouts/page
block content
  .row.row-table(style="height: 100%; padding: 50px 0")
    .col-lg-3.col-md-6.col-sm-8.col-xs-12.align-middle
      .panel.panel-default.panel-flat(data-toggle="play-animation",data-play="fadeInUp",data-offset="0")
        p.text-center.mb-lg
          br
          a(href="/"): strong CrazyBuyer
        p.text-center.mb-lg
          strong ВОЙДИТЕ
        .text-center.mb-lg
          if messages && messages.length > 0
            p: strong= messages[0]
        .panel-body
          form.mb-lg#loginForm(role='form', method="post", action="/login")
            .form-group.has-feedback
              input#email.form-control(type='text', name="username", placeholder='Номер телефона или Email')
              span.fa.fa-user.form-control-feedback.text-muted
            .form-group.has-feedback
              input#password.form-control(type='password', name="password", placeholder='Пароль')
              span.fa.fa-lock.form-control-feedback.text-muted
            button.btn.btn-block.btn-primary(type='submit') Войти <i class="fa fa-sign-in"></i>
            input(type="hidden", name="_csrf", value="#{_csrf}")
            .text-center.mb-sm
              br
              a.text-muted(href="/register") или зарегистрируйтесь
