nav.navbar.navbar-default.navbar-top.navbar-fixed-top(role='navigation')
  .navbar-header
    a.navbar-brand(href='/')
      .brand-logo CrazyBuyer
      .brand-logo-collapsed CB
  .nav-wrapper
    ul.nav.navbar-nav
      li
        a(href='#', data-toggle="aside")
          em.fa.fa-align-left
