extends ../layouts/main
block active-item
  - nav['Клиенты']['active'] = 1
block content
  h3 Новый клиент
  .row
    .col-md-12
      form.form-horizontal(role='form', method='post', action='/user/create', enctype='multipart/form-data')
        .panel.panel-default
          .panel-heading Основная информация
          .panel-body
            fieldset
              .form-group
                label.col-sm-2.control-label Телефон
                .col-sm-6
                  input.form-control(type='text', name='phone', required='required')
            fieldset
              .form-group
                label.col-sm-2.control-label Email
                .col-sm-6
                  input.form-control(type='text', name='email')
            fieldset
              .form-group
                label.col-sm-2.control-label Фамилия
                .col-sm-6
                  input.form-control(type='text', name='lastname', required='required')
            fieldset
              .form-group
                label.col-sm-2.control-label Имя
                .col-sm-6
                  input.form-control(type='text', name='firstname', required='required')
            fieldset
              .form-group
                label.col-sm-2.control-label Отчество
                .col-sm-6
                  input.form-control(type='text', name='middlename')
            fieldset
              .form-group
                label.col-sm-2.control-label Пол
                .col-sm-6
                  select.form-control(name='gender')
                    option(value='', selected='')
                    option(value='male') Мужской
                    option(value='female') Женский
            fieldset
              .form-group
                label.col-sm-2.control-label Дата рождения
                .col-sm-6
                  .datetimepicker.input-group
                    input.form-control(type='text', name='birth', data-date-format='DD.MM.YYYY')
                    span.input-group-addon
                      i.fa.fa-calendar
            fieldset
              .form-group
                label.col-sm-2.control-label Город
                .col-sm-6
                  input.form-control(type='text', name='city')
            if user.role === 'admin'
              fieldset
                .form-group
                  label.col-sm-2.control-label Тип клиента
                  .col-sm-6
                    select.form-control(name='role')
                      option(value='user', selected='') Клиент
                      option(value='corp') Организация
                      option(value='admin') Админ
            fieldset
              .form-group.has-feedback
                label.col-sm-2.control-label Фото
                .col-sm-6
                  input.form-control#clientPhoto(type="file", name="photo")
          .panel-footer
            button.btn.btn-lg.btn-info(type='submit') Сохранить
            | &nbsp;
            a.btn.btn-lg.btn-default(href="/user") Отменить
            input(type="hidden", name="_csrf", value="#{_csrf}")
